services:
      train-local:
        build:
          context: .
          dockerfile: dockerfiles/train.dockerfile
        shm_size: '2gb'
        env_file: .env
        environment:
          - MODE=local
        volumes:
          - ./data:/app/data
          - ./models:/app/models
        command: ["hyper_parameters=param_1"]

      train-sweep:
        build:
          context: .
          dockerfile: dockerfiles/train.dockerfile
        shm_size: '2gb'
        env_file: .env
        environment:
          - MODE=local
        volumes:
          - ./data:/app/data
          - ./models:/app/models
        command: ["--multirun", "hyper_parameters.lr=0.001,0.01", "hyper_parameters.batch_size=16,32"]

      train-cloud:
        build:
          context: .
          dockerfile: dockerfiles/train.dockerfile
        shm_size: '2gb'
        env_file: .env
        environment:
          - MODE=cloud
        command: ["hyper_parameters=param_1"]
